html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}



.mb-10 {
    margin-bottom: 10px;
}

.tr-header td {
    border: none !important;
    background-color: #ededed !important;
}

.theme-panel {
    height: 100%;
    top: 0;
}

.theme-panel.active {
    width: 25%;
}


.chat-main .chat-left,
.chat-main .chat-center,
.chat-main .chat-right {
    height: 80vh;
    float: left;
}

.chat-main .list-item img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    padding-top: 10px;
}

.chat-main .list-item.item-danger {
    background: #ff5b57;
}

.chat-main .list-item a:hover {
    background: #515a61;
}

.chat-main .chat-left{
    width: 23%;
}

.chat-main .chat-right {
    width: 23%;
}

.chat-main .chat-center {
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
    background: #fff;
    width: 54%;
}

.chat-main .chat-center .chat-center-messages {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-main .chat-center .form {
    height: 10%;
}

.chat-main .chat-center form {
    height: 100%;
}

.chat-main .chat-center .form textarea {
    float: left;
    width: 90%;
    height: 100%;
    display: inline-block;
}

.chat-main .chat-center .form button {
    float: left;
    width: 10%;
    height: 100%;
    display: inline-block;
}


.chat-main .chat-left,
.chat-main .chat-right{
    overflow-y: scroll;
    overflow-x: hidden;
    background: #2d353c;
}

.chat-main .chat-left p {
    font-size: 10px;
}

.chat-main .chat-left ul {
    padding: 0;
    list-style-type: none;
}

.chat-main .chat-left li {
    border-bottom: 1px solid #4b555e;
}

.chat-main .chat-left li a {
    color: #fff;
    width: 100%;
    padding: 0 7px;
    display: inline-block;
}

.chat-main .chat-left li a:hover {
    padding: 0 7px;
    text-decoration: none;
}

.chat-main .chat-left .list-item.active {
    background: #515a61;
}

.chat-main .chat-left h4 {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
    width: 70%;
    display: inline-block;
    white-space: nowrap;
}

.chat-main .chat-left span {
    width: 10%;
    text-align: right;
    display: inline-block;
}

.chat-main .chat-message {
    width: 100%;
    padding: 15px 10px;
}

.chat-main .chat-message img {
    width: 30px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 3px;
    float: left;
}

.chat-main .chat-message .message {
    display: inline-block;
    padding: 7px 12px;
    background: red;
    font-size: 14px;
    border-radius: 20px;
    width: fit-content;
    color: #fff;
    max-width: 88%;
}

.chat-main .chat-message .message p {
    margin: 0;
}

.chat-main .chat-message.chat-message-me {
    text-align: right;
}


.chat-main .chat-message.chat-message-client {
    text-align: left;
}


.chat-main .chat-message.chat-message-me .message {
    background: #00acac;
}

.chat-main .chat-message.chat-message-me span {
    display: block;
    margin-right: 9px;
    margin-top: 3px;
    font-size: 13px;
}

.chat-main .chat-message.chat-message-client span {
    display: block;
    margin-left: 9px;
    margin-top: 3px;
    font-size: 13px;
}

.chat-main .chat-message.chat-message-client .message {
    background: #2d353c;
}

.chat-center-messages * {
    overflow-anchor: none;
}

.anchor {
    overflow-anchor: auto;
    height: 1px;
}

.chat-right {
    padding: 10px 10px;
    text-align: center;
}

.chat-right img {
    display: inline-block;
    border-radius: 50%;
    width: 100px;
}

.chat-right h3 {
    display: inline-block;
    color: #fff;
    font-size: 16px;
}

.chat-right .from-info {
    font-size: 25px;
}

.chat-right .info {
    text-align: left;
    width: 100%;
    color: #fff;
    font-size: 14px;
}

.chat-right .img-wrapper {
    position: relative;
}

.chat-right .img-wrapper .btn{
    position: absolute;
    border-radius: 100%;
    top: 30%;
}

.chat-right .img-wrapper .btn.btn-left{
    position: absolute;
    left: 15%;
}

.chat-right .img-wrapper .btn.btn-right{
    position: absolute;
    right: 15%;
}

.chat-right .info p {
    width: 100%;
}

.chat-right .info p span {
    text-align: right;
}


.grid-view .kv-grid-container {
    overflow-x: hidden;
}

.sidebar {
    transition: .25s all ease;
}

.navbar-nav .dropdown-menu {
    right: 0 !important;
    left: auto !important;
}
.fa-hammer:before {
	content: "\f0e3";	
}
.date-now {
	padding: 15px;
	padding-top: 20px;
}
.field-portfolio-is_soft_30_days, .field-portfolio-is_soft_90_days,  .field-portfolio-is_soft_180_days, .field-portfolio-is_soft_365_days,
.field-portfolio-is_soft_730_days, .field-portfolio-is_legal_percent, .field-portfolio-is_legal_fix {
	top: 22px;	
	position: relative;
}
.soft_p .field-portfolio-is_soft_30_days, .soft_p  .field-portfolio-is_soft_90_days, .soft_p  .field-portfolio-is_soft_180_days, .soft_p  .field-portfolio-is_soft_365_days,
.soft_p  .field-portfolio-is_soft_730_days, .soft_p  .field-portfolio-is_legal_percent, .soft_p  .field-portfolio-is_legal_fix {
	top: -3px;	
	position: relative;
}
.field-portfolio-is_soft_30_days input, .field-portfolio-is_soft_90_days input, .field-portfolio-is_soft_180_days input, .field-portfolio-is_soft_365_days input,
.field-portfolio-is_soft_730_days input, .field-portfolio-is_legal_percent input, .field-portfolio-is_legal_fix input {
	bottom: -2px;
	position: relative;
}

.soft_p thead tr td {
	color: #242a30;
	font-weight: 700;
}
.soft_p tbody .form-group, .soft_p tbody .help-block, .soft_p tbody label input{
	margin: 0;
	padding: 0;
}
.soft_p tbody tr td label {
	height: 1px;
	display: block;
}
.soft_p tbody tr td label input{
	/*display: block;*/
}
.portfolio-form-set .soft_p tr td {
	border: 1px solid #000;
	text-align: center;
}
.portfolio-form-set .soft_p tr td input{
	width: 100%;
}
.portfolio-form-set .soft_p tr {
	height: 30px;	
}
.modal-slg .modal-content {
    width: 190%!important;
}
.modal-slg .modal-dialog {
    margin-left: 25% !important;
}

.modal-big .modal-content {
    width: 235% !important;
}
.modal-big .modal-dialog {
    margin-left: 19% !important;
}

.field-portfolio-legal_percent .control-label, .field-portfolio-legal_fix .control-label{
	display: none;
}
.auto-rate-set .form-group .control-label,
.auto-rate .form-group .control-label{
	display: none;	
}
#ajaxCrudModal .modal-footer .perc-btn {
	display: none;	
}
.portfolio-form-set .auto-rate-set-table-h thead tr td {
	border: 1px solid #fff;	
	border-bottom: 1px solid #000;	
}

.bg-white {
    color: #565656 !important;
}

@media screen and (max-width: 800px) {
    .grid-view .kv-grid-container {
        overflow-x: scroll;
    }
}


@media screen and (max-width: 1000px) {
    .chat-main .list-item h4 {
        display: none;
    }

    .chat-main .list-item p {
        display: none;
    }
}

body.vertical-layout.vertical-menu-modern.menu-collapsed .app-content, body.vertical-layout.vertical-menu-modern.menu-collapsed .footer {
    margin-left: 0px !important;
}

body.vertical-layout.vertical-menu-modern.menu-collapsed .header-navbar.floating-nav {
    /*width: calc(100vw - (100vw - 100%) - 4.4rem) !important;*/
    width: calc(100vw - (100vw - 100%) - 4.4rem) !important;
}

body.vertical-layout.vertical-menu-modern.menu-collapsed .my-main-menu {
    width: 80px;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.my-main-menu {
    z-index: 1031;
    position: absolute;
    display: table-cell;
    height: 100%;
    overflow: hidden;
}

.my-main-menu.menu-light {
    color: #626262;
    background: #FFFFFF;
}



.nav-item a {
    padding: 12px 9px !important;
}


li.nav-item a.btn-menu {
    padding: -4px 9px !important;
}

.modal-super-slg .modal-content {
    /*width: 250%!important;*/
    width: unset !important;
}

.modal-super-real-slg .modal-content {
    width: 900px !important;
    margin-left: -147px;
}

.modal-super-slg .modal-content {
    /*margin-left: -74% !important;*/
    margin-left: unset !important;
}

.text-pink {
    color: #F23D71;
}

.btn-pink {
    border-color: #d93262 !important;
    background-color: #F23D71 !important;
    color: #FFFFFF;
}

.table-tarif, .table-tarif > th, .table-tarif > td {
    background-color: #ffffcc;
}

.table-tarif th, .table-tarif td, .table-tarif thead th, .table-tarif tbody + tbody {
    border-color: #f0f0aa;
}

.chat-application .chat-app-window .start-chat-area, .chat-application .chat-app-window .user-chats {
     background-image: none !important;
    background-color: #f4f4f4 !important;
    background-repeat: repeat;
    background-size: 210px;
}


.chat-application .sidebar-content .chat-user-list-wrapper li.active {
    /* background-image: -webkit-linear-gradient(
10deg
,#7367F0,#9E95F5); */
    /* background-image: linear-gradient(
80deg
,#7367F0,#9E95F5); */
    background: #009fe3 !important;
    background-repeat: repeat-x;
}


.btn.btn-white:hover {
    background: #009fe3 !important;
    color: #fff !important;
}


a.bg-white:hover {
    background: #009fe3 !important;
    color: #fff !important;
}


.btn.btn-green {
    color: #fff !important;
    background: #60b800 !important;
}

.footerline {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    width: 100%;
    background: rgba(0, 159, 227, 0.9);
    text-align: center;
    color: #fff;
}

.footerline p {
    margin: 1rem 0;
}

.footerline a {
    color: #fff;
    text-decoration: underline;
}


.modal-small .modal-dialog {
    max-width: 450px !important;
}


.preloader-wrapper {
  text-align: center;
  background: #F8F8F8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  /*display: flex;*/
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}


.loaded .preloader-wrapper {
    display: none;
}

html:not(.loaded) body {
    height: 100vh !important;
    overflow: hidden;
}

html:not(.loaded) .content {
    display: none;
}


@keyframes float {
  to {
    transform: translateY(0.75em);
  }
}
/*body {
  padding-top: 1em;
  background: currentcolor;
  color: #ccc;
  text-align: center;
}
*/
.dot {
  background: #7367F0;
}
.dot, .dot:after {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  animation: a 1.5s calc(((var(--i) + var(--o, 0))/var(--n) - 1)*1.5s) infinite;
}
.dot:after {
  --o: 1;
  background: currentcolor;
  content: "";
}

@keyframes a {
  0%, 50% {
    transform: scale(0);
  }
}

.preloader-wrapper .a {
    margin-top: 48vh;
}


/*.header-navbar.floating-nav {*/
    /*width: 1700px !important;*/
/*}*/